/* stylelint-disable declaration-block-no-shorthand-property-overrides */

.about-section {
  margin-top: 33px !important;
  width: 247px;
  margin: auto;
  color: white;
}

h3 {
  margin-bottom: 0 !important;
}

p {
  margin-top: 5px !important;
  color: #dcdcdc;
}
