footer {
  background-color: #161619;
  margin-top: 30px;
  padding: 20px 75px;
  border-radius: 0 0 10px 10px;
}

.footer-div {
  display: flex;
  justify-content: space-between;
}

.icon {
  border-radius: 2px;
}
